.image-carousel-widget {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.containers-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.swiper-container {
    width: 80%;
    height: 75vh;
}

.cube-container {
    position: relative;
    perspective: 1500px;
}

.swiper-wrapper {
    display: flex;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cube-face img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.vertical-carousel .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-carousel {
    width: 30%;
    overflow: hidden;
    height: 80vh;
}

.vertical-carousel .swiper-slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    color: white;
    background: rgba(240, 35, 35, 0.5);
    padding: 10px;
    font-size: 20px;
}

.d3-image-carousel-widget {
    position: relative;
}

.text-swiper-slider {
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    z-index: 2;
    /* margin-bottom: 50px; */
}

.carousel-text,
.swiper-slide-text {
    width: 100%;
}

.text-swiper-slider {
    position: absolute;
    width: 100%;
    height: 16.5vh;
    /* top: 100%; */
    overflow: hidden;
}

.swiper-slide-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.carousel-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-description {
    font-size: 16px;
}

.zoomed {
    animation: ZoomIn 20s ease-in-out infinite;
}


@keyframes ZoomIn {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.5);
    }
}