.image-carousel-widget {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.full-image-container {
    width: 70%;
    height: 700px;
}

.carousel-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
}

.carousel-container img {
    width: 30%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carousel-container img:hover {
    transform: scale(1.1);
}
/* ---------------------------------------------------------------------------- */
/* CSS for 3D flip animation */
.image-carousel-widget {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.full-image-container {
    width: 100%;
    height: 400px; /* Adjust as needed */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; /* Background for cube faces */
}

.swiper-slide img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
/* ------------------------------- */
/* .image-carousel-widget {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.full-image-container {
    width: 100%;
    height: 400px; 
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;  
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */


/* ------------------------------------------------------------------ */
/* 
.image-carousel-widget {
    display: flex;
    align-items: center;  
}

.full-image-container {
    width: 60%;  
    height: 400px; 
    margin-right: 20px;
    overflow: hidden;  
    position: relative;
}

.full-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carousel-container {
    width: 40%; 
    height: 400px;  
    overflow: hidden;
    position: relative;
} */


.full-image-container {
    width: 400px; 
    height: 400px;
    margin: auto;   
    position: relative;
}

.carousel-container {
    width: 300px; /* Adjust width */
    height: 400px; /* Match height with full-image-container */
    margin: auto;
    position: relative;
}
